spring:
  cache:
      cache-names: twitch
      type: guava
  profiles:
#      active: twitch,hue,sql,twitter,markov
      active: twitch,hue
  jpa:
      show-sql: true
      hibernate:
          ddl-auto: create-drop
hue:
  appName: Twitter Hue Controller
  deviceName: Ryon's Mac
  bridgeIp: 192.168.0.105
  username: 50de7c63f689927710772a403f65b

twitch:
  host: irc.twitch.tv
  port: 6667
  nickname: HoomanBot
  oAuth: oauth:5f2zpdigduicjzb65ndlptvya5kxtt
  autoJoin: "#ryonday"
  emoteUrl: http://static-cdn.jtvnw.net/emoticons/v1/%s/%s

logging:
  level:
#    org.hibernate: DEBUG
    org.springframework.data: TRACE
    org.springframework.cache: DEBUG
