spring:
  cache:
      cache-names: twitch
      type: guava
  profiles:
#      active: twitch,hue,sql,twitter,markov
      active: twitch,hue
  jpa:
      show-sql: true
      hibernate:
          ddl-auto: create-drop
hue:
  appName: Your Vanity App Name
  deviceName: Your Vanity Device
  bridgeIp: 127.0.0.1
  username: HueAssignedHexadecimalNumber

twitch:
  host: irc.twitch.tv
  port: 6667
  nickname: YourBot
  oAuth: oauth:TwitchOAuthToken
  autoJoin: "#yourmom,#anotherChannel"
  emoteUrl: http://static-cdn.jtvnw.net/emoticons/v1/%s/%s

logging:
  level:
#    org.hibernate: DEBUG
    org.springframework.data: TRACE
    org.springframework.cache: DEBUG
